<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>{{ content }}</p>

    <hr>

    {% if is_home %}
        <h3>Перейти на інші сторінки:</h3>
        <ul>
            <li><a href="{% url 'page1' %}">Відкрити Першу сторінку</a></li>
            <li><a href="{% url 'page2' %}">Відкрити Другу сторінку</a></li>
        </ul>
    {% else %}
        <a href="{% url 'home' %}">⬅ Повернутися на головну сторінку</a>
    {% endif %}

</body>
</html>